

 .background {
   background-color: #fbfbfb;
  font-family: "Verdana";
   width: 1410px;
   padding-left: 10px;
   padding-right: 10px;
   overflow: hidden;

 }

.borders{
  border-left-style: solid;
  border-right-style: solid;
  border-color: black;
   border-width: 1px;
}

/* Navbar */

.homePage{
  background: #34b9f5;
  width: 1400px;
  height: 300px;
}

.navbarButtons{
    text-shadow: 2px 2px #21769e;

}

.button{
    background-color: #67e43d;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.btn:hover {
background-color: white !important;
border: 2px solid grey !important;

}

.loginButton{
font-size: 14px;
margin-top: 10px;
padding: 5px 20px;
}

.logo{
  width:100px;
  height: auto;
}

.text-white {
  color: #ffffff;
  margin-top:5px;
}


.logoDona{
  height: 40px;
  width: 40px;
}

.mainHeader{
text-align: center;
}

.homeTitle{
  color:white;
  font-size: 48px;
  font-weight: 200px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #21769e;
}

.homeSubtitle{
  color:white;
  font-size: 18px;
  font-weight: 200px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-shadow: 2px 2px #21769e;
}

/* Sidebar */

.sidebar{
padding-left: 50px;
}

.btnImg{
  padding-right: 10px;
  text-align: left;
}

.btnContent {
  float:left;
  text-align: left;
  width: 100%;
  color:#898989;
  font-size: 16px;
  font-weight: normal;
  border-radius: 30px;
}

.homeSidebar{
  width: 300px;
  height: 325px;
  margin-top:80px;
  color:#898989;
  font-size: 30px;
  font-weight: normal;
}

.categorias{
margin-top:30px;
width: 100%;
}

/*Orgs*/

.organazationsTable{
  margin-bottom:30px;
}

.category-text{
  font-size: 28px;
  font-weight: 400px;
  color:#34b9f5;
  text-align: center
}

/*Footer*/

.border{
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: black;
   border-width: 1px;

}

.footer{
  width: 1400px;
  background: #ffffff;
  color:#34b9f5;

}

.footImg{
  height:40px;
  margin-bottom: 50px;

}


.footer-text{
text-align: center;
color:grey;
margin-bottom: 20px;
}

.sobreText{
padding-left: 30px;

}

/*-------------------------------------- Profile style --------------------------------------*/
/* Don't know how to declare profile.css in React so I'm gonn a put all of the css classes here for now.*/
/* ------ Profile header -------*/
.profHeader{
  background: #34b9f5;
  width: 100%;
  /*max-height: 700px;*/
  height: 400px;
  text-align:center;
}

.profTitle{
  /*margin-top: 10px;*/
  color: white;
  font-size:36px;
  font-weight: 200;
  margin-bottom: 20px;
}

.profPhoto{
  width:300px;
  height: 200px;

}

.campaignSideBar {
  background: #F4F4F4;
  height: 600px;
}

.donateModal-headers {
  text-align: center;
}

.donateIcons {
  height: 75px;
  width: auto;
  margin-top: 15px;
}


#footer{
  background: #086788;
  width: 100%;
  /*max-height: 700px;*/
  height: 200px;
}

.input100 {
  width: 100%;
}

.m30 {
  margin-top: 30px;
}

.shareIcons {
  width:50%;
}
.shareRow {
  margin-top: 100px;
}

.btn-donate {
  /* Rectangle 7: */
  background: #DD1C1A;
  /*border: 1px solid #979797;*/
  color:#fff;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  margin-top: 20px;
}

