#splashScreen {
  background: #00ADD7;
  width: 100%;
  /*max-height: 700px;*/
  height: 400px;
}

#homePage{
  background: #34b9f5;
  width: 100%;
  height: 300px;
}

.logo {
  width:100px;
  height: auto;
}

.text-white {
  color: #fff;
  margin-top:5px;
}

.campaignProgress {
  margin-top: 100px;
}

.btn-create-campaign {
    /* Rectangle 2: */
  background: #8FD93E;
  border-radius: 100px;
  color:#fff;
  margin-right: 20px;
  margin-top: 5px;
}

.btn-donate {
  /* Rectangle 7: */
  background: #DD1C1A;
  /*border: 1px solid #979797;*/
  color:#fff;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  margin-top: 20px;
}

.progressBar {
  width: 500px
}

.campaignTitle {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 20px;
}

.campaignPhoto {
  width:100%;
}
.campaignPhotoProfile {
  width:50%;
}
.shareIcons {
  width:50%;
}
.shareRow {
  margin-top: 100px;
}

#campaignBody {
  margin:20px;
}

.organizationName {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 20px;
}

#organizationBody {
  background: #00ADD7;
  height: 500px;

}
/*.campaignBodyDesc {
  padding-left: 20px !important;
  padding-right: 20px !important;
}*/

.campaignSideBar {
  background: #F4F4F4;
  height: 600px;
}

.donateModal-headers {
  text-align: center;
}

.donateIcons {
  height: 75px;
  width: auto;
  margin-top: 15px;
}


#footer{
  background: #ffffff;
  color:#34b9f5;
}

.input100 {
  width: 100%;
}

.m30 {
  margin-top: 30px;
}
