.background-settings {
  /*background-color: #fbfbfb;*/
  /*width: 50%;*/
  /*height: 100vh;*/
}

.settings-container {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
}

.container ul li {
    width: 150px;
    height: 42px !important;
    /*background-color: red;*/
    float: left;
}
/*
.settings-container-gradient {
  background-color: #fff;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px
}*/
